.container {
  display: flex;
  flex-direction: row;
  background-color: blue;
  flex-wrap: wrap;
  scroll-behavior: smooth;
  overflow-y: scroll;
}

.subcontainer {
  display: flex;
  background-color: #0000ff;
  justify-content: space-around;
  width: 100%;
  flex-direction: row;
}

.item {
  background-color: aqua;
  margin-top: 50px;
  aspect-ratio: 1/1;
  width: 30%;
  padding: 4px; /* Khoảng hở bên trong box */
  border: 1px solid cyan; /* Đường viền xung quanh box */
}

.img {
  height: 100%;
  width: 100%;
  display: flex;
  object-fit: cover;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  margin-bottom: 20px;
  text-align: center;
  background-color: #fff;
  color: #0000ff;
  z-index: 1000;
}

.footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: #fff;
  text-align: center;
  color: #0000ff;
  z-index: 1000;
}
