.form {
  height: 60vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.form-group {
  display: flex;
  align-items: center;
  padding: 5px;
}

/* .form-group :last-child {
  margin-left: 10px;
} */

.btn-login {
  margin-top: 10px;
  display: block;
  padding: 4px;
}

label {
  font-weight: 500;
  width: 80px;
}

input {
  flex: 1;
}
