.container3b {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  background-color: aqua;
  padding: 100px;
}

.item {
  width: 30%;
  aspect-ratio: 1/1;
  border-radius: 100%;
}

.btn {
  padding: 50;
  background-color: #0000ff;
  color: #fff;
  height: 30px;
}
